.Main { 
    
    display: flex; 
    
}

#Background2{
    position: absolute;
    left: 2;
    min-width: 100%;
    z-index: 1;
    color: rgb(0, 0, 0);
    font-size: 77.7px;
    text-align: justify;
    line-height: 50px;
    box-shadow: 0 3px 5px rgb(55, 0, 255);
    backdrop-filter: blur(50px);
}

#ibg{
    
    width: 100%;
    top: 20vh;
    
} 
#Imagem1{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    backdrop-filter: blur(5px);
    zoom: 150%;
}
   



#imagem{
    
    image-rendering: optimizeQuality;
    position: fixed;
    width: 140%;
    z-index: 2;
    right: 1vh;
    object-fit: fill;
    object-position: 30vh 5vh;

}

#Hover{
    position: relative;
    left: 7vh;
    top: 7vh;
    min-height:20%;
    min-width: 45%;
    z-index: 5;
    color: rgb(0, 0, 0);
    font-size: 77.7px;
    text-align: justify;
    line-height: 50px;
    filter: drop-shadow(25px 15px 27px rgb(26, 24, 24));
    
    
    
}
#Comum{
    
    margin-top: 7%;
    line-height: 70px;
    position: relative;
    z-index: 6;
    min-height: 20%;
    min-width: 20%;
    font-size: 75%;
}


#By{
    margin-top: 0vh;
    max-width: 100%;
    position: relative;
    z-index: 6;
    padding-left: 15%;
    font-size: 85%;
}

#Fonte{
    margin-top: 0vh;
    margin-left: 13vh;
    color: sandybrown;
    z-index: 6;
    position: relative;
    font-size: 95%;
}

#Conheca{
    font-size: 37.7px;
    margin:0;
    width: 35%;
    z-index: 6;
    left: 40vh;
    top: 5vh;
    position: relative;
    text-decoration: none;
    font-size: 75%;
}

#Conheca a {
    text-decoration:none;
    border-bottom: 2px solid sandybrown;
    box-shadow: inset 6px 1px 25px 2px sandybrown;
    color: inherit;
    border-radius: 0px 15px 15px 15px ;
    transition: 0.3s;
    
}

#Conheca a:hover {
  background: sandybrown;

}
#Conheca a{
    text-decoration: none;
    color: #0e0b08;
}

#Seta{
    font-size: 37.7px;
    margin: 0;
    z-index: 6;
    position: relative; 
    left: 35vh;
    bottom: 5vh;
}
